@* ViewModelを指定する *@
@model EmpInfoViewModel
@{
    ViewData["Title"] = "社員情報";
}

@section Styles {
    <link rel="stylesheet" href="~/css/EmpInfo/EmpInfo.css" asp-append-version="true" />
}

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/EmpInfo/Emp.js"></script>
    @*<script src="~/js/EmpInfo/EmpSelect.js"></script>*@
    <script src="~/js/EmpInfo/EmpDelete.js"></script>
}


<form id="trForm" class="card startform" asp-controller="EmpInfo" asp-action="Regist" method="POST" enctype="multipart/form-data">
    @Html.AntiForgeryToken()

    <div class="maincontents-layout">
        <div class="card">
            <label class="lblRegion">登録条件</label>
            <div class="divRegion">
                <table class="tableEmpInfo">
                    <tr class="trFixHeight">
                        <td class="tdLabel">社員番号：</td>
                        <td class="tdItem">
                            <input type="text" asp-for="@Model.empId7" id="EmpId" class="textbox w240" size="15" maxlength="7" />
                        </td>
                    </tr>
                    <tr class="trFixHeight">
                        <td class="tdLabel">姓名：</td>
                        <td class="tdItem">
                            <input type="text" asp-for="@Model.seiKanji" id="Seikanji" class="textbox td-emp w240" maxlength="20" />
                            <input type="text" asp-for="@Model.meiKanji" id="Meikanji" class="textbox w240" maxlength="20" />
                        </td>
                    </tr>
                    <tr class="trFixHeight">
                        <td class="tdLabel">せいめい：</td>
                        <td class="tdItem">
                            <input type="text" asp-for="@Model.seiKana" id="Seikana" class="textbox w240" maxlength="20" />
                            <input type="text" asp-for="@Model.meiKana" id="Meikana" class="textbox w240" maxlength="20" />
                        </td>
                    </tr>
                    <tr class="trFixHeight">
                        <td class="tdLabel">メールアドレス：</td>
                        <td class="tdItem">
                            <input type="text" asp-for="@Model.mailAddress" id="MailAddress" class="textbox w240" maxlength="50" />
                        </td>
                    </tr>
                    <tr class="trFixHeight">
                        <td class="tdLabel">部署コード：</td>
                        <td class="tdItem">
                            <input type="text" asp-for="@Model.deptCode4" id="DeptCode" class="textbox w240" maxlength="4" />
                        </td>
                    </tr>
                    <tr class="trFixHeight">
                        <td class="tdLabel">入社日：</td>
                        <td class="tdItem">
                            <input type="date" asp-for="@Model.joinDate" id="JoinDate" class="textbox w240" />
                        </td>
                    </tr>
                    <tr class="trFixHeight" id="RetireDateRow" style="display: none;">
                        <td class="tdLabel">退職日：</td>
                        <td class="tdItem">
                            <input type="date" asp-for="@Model.retireDate" id="RetireDate" class="textbox w240" />
                        </td>
                    </tr>
                    <input type="hidden" asp-for="@Model.updateDatetime" id="UpdateDatetime" />
                    <tr class="trFixHeight">
                        <td class="button">
                            <input type="button" name="Search" class="btnSearch w120" value="検索" />
                        </td>
                        <td class="button">
                            <input type="button" name="Delete" class="btnDelete w120" value="削除" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</form>
